@import "tailwindcss";

@layer base {
  html {
    font-family: "Poppins", sans-serif;
  }
}

@layer components {
  .btn-primary {
    border-radius: calc(infinity * 1px);
    background-color: var(--color-cyan-200);
    padding-inline: --spacing(5);
    padding-block: --spacing(2);
    font-weight: var(--font-weight-light);
    color: var(--color-blue-500);
    box-shadow: var(--shadow-md);
    &:hover {
      @media (hover: hover) {
        background-color: var(--color-blue-500);
        color: var(--color-cyan-200);
      }
    }
  }
}

@layer components {
  .btn-primary1 {
    border-radius: calc(infinity * 1px);
    background-color: var(--color-blue-500);
    color: var(--color-cyan-200);
    padding-inline: --spacing(5);
    padding-block: --spacing(2);
    font-weight: var(--font-weight-light);
    box-shadow: var(--shadow-md);
    &:hover {
      @media (hover: hover) {
        background-color: var(--color-cyan-200);
        color: var(--color-blue-500);
      }
    }
  }
}
